
/******************************/
        /* CÓDIGO CSS */
/******************************/

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, #a0ffdb, #cefffd);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hoja-de-vida {
    background-color: #fff;
    border: 4px solid #000;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    max-width: 800px;
}

h1 {
    margin-top: 0;
    color: #333;
    font-size: 36px;
}

h2 {
    color: #555;
    font-size: 24px;
}

img {
    max-width: 150px;
    margin: 20px auto;
    border-radius: 50%;
}

p {
    color: #333;
    font-size: 18px;
    margin: 8px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 2px solid #000;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Estilo para filas impares */
tr:nth-child(1) {
    background-color: #c8ffd7;
}
